
/*!--- LAYOUT ---*/

.wrap{width:960px;margin:0 auto;}
.entry-content h2, .entry-content h3{margin:0 0 15px 0;}
.entry-content p, .entry-content ul{margin:0 0 20px 0;}
.entry-content li{margin:0 0 7px 0;}
.entry-content img{margin:0 15px 5px 0;max-width:100%;height:auto;width:auto;}