
/*!--- Base ---*/

body{font-size:100%;@include font1(); color:$colortxt;/*font smoothing*/-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;/*hrz scroll fix min-width:960px;*/}
h1, .h1{font-size:30px;line-height:30px;}
h2, .h2{font-size:24px;line-height:24px;}
h3{font-size:18px;}
h4{font-size:14px;}
p, li, dt, dd{font-size:14px;}
p{line-height:20px;}
li{list-style:none;}
a{color:#09F;text-decoration:none;}
a:hover{color:#669;}
strong{@include font1-bold();}
big{font-size:120%;}
small{font-size:80%;}
img{vertical-align:middle;border:none;}
hr{display:block; height:1px; border:0; border-top:1px solid #ccc; margin:20px 0; padding:0;}
::-moz-selection{background:#b3d4fc;text-shadow:none;} 
::selection{background:#b3d4fc;text-shadow:none;}


/*------- Forms -------*/
fieldset{border:0; margin:0; padding:0;} 
label{display:block; margin:0 0 8px 0; @include font1-bold();}
select, input, textarea{display:block; width:100%; height:55px; padding:10px 15px; margin:0 0 10px; color:#555; font-size:13px; @include font1(); background:#e3e3e3; border:1px solid #d3d3d3; border-radius:4px; /* box */-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box; /*font smoothing*/-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
input, textarea{-webkit-appearance:none;}
input:focus, textarea:focus{background:#ddd;}
textarea{height:150px;}
input[type="submit"]{cursor:pointer;}
.submit{display: inline-block; width:auto; height:55px; padding:14px 20px 12px 20px; margin:0 0 40px 0; font-weight:bold; font-size:12px; text-transform:uppercase; color:#fff; background:orange; border:none; border-radius:5px; cursor:pointer;}
.submit:hover{color:#fff; background:green;}
.chbx, .radio{display:block; margin:0 0 4px 0; padding:0 0 0 20px; cursor:pointer; font-weight:normal; @include font1();}
	.chbx input, .radio input{display:inline-block; width:auto; height:auto; margin:0 5px 0 -20px; padding:0; background:none; cursor:pointer; vertical-align:baseline; border:none;}
	.radio input{-webkit-appearance:radio;}
	.chbx input{-webkit-appearance:checkbox;}
	.inline-chbx .chbx, .inline-radio .radio{display:inline-block; margin:0 10px 4px 0;}
/* Advanced */
.vcode-area{position:relative; padding-left:120px;}
	.vcode-img{display:block; width:auto; position:absolute; left:0; top:0;}
	.vcode{width:100%; height:50px; font-size:30px; text-align:center;}
.inline-fields li{margin-left:30%;}
	.inline-fields .inline{margin-left:0;}
form .side-label{padding:0 !important; margin:0 0 25px 0;}
	.side-label label{display:inline-block; width:39%; padding:0 4%; text-align: right; margin-bottom:0; vertical-align:top;}
	.side-label input{display:inline-block; width:60%; margin-bottom:0; text-align: left; vertical-align: top;}
	.side-label .chbx-wrap, .side-label .radio-wrap{width:60%; display:inline-block; padding:0;}
		.side-label .chbx, .side-label .radio{width:auto; padding:0; margin:0 20px 12px 0; text-align: left; text-transform: none; font-size:13px;}
			.side-label .chbx input, .side-label .radio input{width:auto; height:auto; margin:-2px 5px 0 0; vertical-align: middle;}
		.side-label .lbl-block .chbx, .side-label .lbl-block .radio{display: block; margin:0 0 7px 0;}
.inline-submit input{display:block;float:left;vertical-align:top;width:77%;margin:0 2% 0 0;}
.inline-submit .submit{height:55px;width:20%;padding:0;margin:0;font-size:20px;border-radius:0;}
.field-callout{padding:10px 0;background:#fff;border-top:1px solid #333;border-bottom:1px solid #333;}
.req{color:rgb(224, 53, 53);}
@include placeholder { color:#555; opacity:1; }

.errmsg{background-color:#FFF5F5;border:1px dotted #CC0000;margin:10px 0 10px 0;}
.errmsg div{padding:10px 0 10px 0;}
.errmsg ul{margin-top:0;margin-bottom:0;}
.errmsg li{list-style:disc;text-align:left !important;margin:0 0 5px 25px !important;}

/* Form Cols */
form.col-wrap li{margin:0 1% 10px 1%; clear:both;}
	form.col-wrap .field-col{clear:none;}


/*---  700-  ---*/
@media screen and (max-width : 700px) {
	/* Field Callout */
	.field-callout, form.col-wrap .field-callout{margin:0 -20px;}
}
/*---  550-  ---*/
@media screen and (max-width : 550px) {
	/* Form Cols */
	form.col-wrap{margin:0;}
		form.col-wrap li{margin:0 0 25px 0; clear:both;}
		form.col-wrap .lbl-mini{margin:0;}
			form.col-wrap .field-col{width:auto; float: none; margin:0 0 20px 0;}
			form.col-wrap .field-col.lbl-hint{margin:0;}
	/* Form Inline */
	form .inline{}
		.inline label{display: block; width:auto; padding:0; margin:0 0 5px 0; text-align: left;}
		.inline .chbx-wrap, .inline .radio-wrap{display:block; width:auto;}
}
