
/*--- SPRITES ---*/

.icons {background:url('images/sprite-icons.png') no-repeat center top;}
/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 144dpi) {
	.icons {background-image:url('images/sprite-icons@2x.png'); background-size:50px;}
}

.xrepeat {background:url('images/sprite-xrepeat.png') repeat-x left top;}
.yrepeat {background:url('images/sprite-yrepeat.png') repeat-y left top;}


/*!--- HELPER CLASSES ---*/

.float{float:left;}
.floatr{float:right;}
.last{margin-right:0 !important;}
.last-btm{margin-bottom:0 !important;}
.clear{clear:both;overflow:auto;}
.border-top{border-top:1px solid #ccc;padding-top:20px;}
.border-btm{border-bottom:1px solid #ccc;padding-bottom:20px;margin-bottom:20px;}
.chromeframe{display:block; padding:12px; font-size:13px; @include font1(); color:#000; background:#ccc; border-bottom:1px solid #aaa;}
.hide{position:absolute;top:-9999px;left:-9999px;}
.short-line{display:block;width:50px;height:1px;background:#fff;margin:15px auto;}
.font2{font-weight:normal;font-family:"customFont", Helvetica, Arial, sans-serif;}
.font2-bold{font-weight:normal;font-family:"customFont", Helvetica, Arial, sans-serif;}
.play-btn{display:block;position:relative;}
.play-btn .icon{display:block;position:absolute;left:0;top:0;width:100%;height:100%;background:transparent url('images/play-btn.png') no-repeat center center;/*transition*/-webkit-transition:all ease .3s;-moz-transition:all ease .3s;transition:all ease .3s;}
.play-btn:hover .icon{background-color:rgb(0,0,0);background-color:rgba(0,0,0,.5);box-shadow:inset 0 0 40px #000;}
.fluid-img, .fluid-imgwrap img{max-width:100%;height:auto;}
.vouter{display:table; width:100%; height:100%;}
.vcenter{display:table-cell; vertical-align: middle;}
.vcenter2{position:relative; top:50%; @include transform(translateY(-50%));}
.upper{text-transform: uppercase;}
.lower{text-transform: lowercase;}
.small-caps{font-variant:small-caps;}
.short-line{display:block;width:80px;height:1px;background:#000;margin:15px auto}
.btm-margin{margin-bottom:20px;}
.btm-margin-sm{margin-bottom:10px;}
.btm-margin-lg{margin-bottom:40px;}
.vert-pad{padding-top:40px; padding-bottom:40px;}
.vert-pad-sm{padding-top:20px; padding-bottom:20px;}
.vert-pad-lg{padding-top:60px; padding-bottom:60px;}
.posr{position:relative;}
.center{text-align: center;}
.tar{text-align: right;}
.tal{text-align: left;}
.tbl{display: table; width:100%;}
	.tbl-row{display: table-row;}
	.tbl-cell{display: table-cell; vertical-align: middle;}
.loading-overlay{display:none; position:absolute; left:0; top:0; width:100%; /* height:100%; */ z-index:1;}
	.loading-overlay .icon{display:inline-block; position:fixed; left:0; right:0; top:0; bottom:0; margin:auto; width:50px; height:50px; background:#fff url("/images/wait.gif") no-repeat center center; border-radius:50px; box-shadow:0 0 0 5px rgba(0,0,0,.5)}
.loading .loading-overlay{display: block;}

.demo-block{display: block; height:50px; line-height:50px; font-size:13px; text-align: center; color:#999; background-color: #eee;}
.demo-icons li{display: inline-block; margin:10px;}
	.demo-icons .icon{display: inline-block; font-size:36px; line-height:36px; margin:0 5px 0 0; vertical-align: middle;}
	.demo-icons .txt{display: inline-block; vertical-align: middle;}

.video-wrapper{position: relative; /* 16:9 */padding-bottom:56.25%; padding-top:25px; height:0;}
	.video-wrapper iframe{position:absolute; left:0; top:0; width:100%; height:100%;}

/* Buttons */
.btn{display: inline-block; padding:5px 10px; text-align: center; color:#fff; background:#000;}
.btn:hover{color:#fff; background:#333;}

/* Headers */
h1, .hdr1{}
h2, .hdr2{}
h3, .hdr3{}
h4, .hdr4{}

.line-header{margin:0 0 20px 0; text-align: center; position: relative;}
	.line-header .midtxt{display:inline-block; position:relative; padding:0 10px; text-transform: uppercase; color:#333; background:#fff;}
	.line-header .midline{display: block; position: absolute; left:0; top:50%; width:100%; height:1px; background:#333;}

/* Colors */
.white{color:white;}
.colortxt{color:$colortxt;}

/* Backgrounds */
.bg-white{background-color:white;}
.bg-colortxt{background-color:$colortxt;}


/*--- CLEARFIX ---*/
.clearfix:before,.clearfix:after{content:" ";display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;} /* ie6/ie7 */


/*---  960-  ---*/
@media screen and (max-width : 960px) {
	/* Headers */
	h1, .hdr1{}
	h2, .hdr2{}
	h3, .hdr3{}
	h4, .hdr4{}
}
