
/*!--- LAYOUT ---*/

.wrap{max-width:1200px; margin:0 auto; padding:0 30px;}
.entry-content h2{margin:0 0 20px 0;}
.entry-content h3{margin:0 0 12px 0;}
.entry-content p, .entry-content ul, .entry-content ol{margin:0 0 20px 0;}
.entry-content li{margin:0 0 7px 25px; list-style-type:disc;}
.entry-content ol li{list-style-type:decimal;}
.entry-content img{margin:0 15px 5px 0; max-width:100%; height:auto;}

#content-main{}

/* Page Layouts */
.content_sidebar .content-col{float:left;width:63%;}
.content_sidebar .sidebar{float:right;width:36%;}
.sidebar_content .content-col{float:right;width:63%;}
.sidebar_content .sidebar{float:left;width:36%;}

/* Columns */
.col-wrap{clear: both; margin:0 -1%;}
.col1-2{float: left; width:48%; margin:0 1% 20px 1%;}
.col1-3{float: left; width:31.3%; margin:0 1% 20px 1%;}
.col1-4{float: left; width:23%; margin:0 1% 20px 1%;}

/* Events Module */
.event-item{position:relative; margin:0; padding:20px 0 20px 10%; border-bottom:1px solid #ccc;}
	.event-side{display:block; float: left; width:100px;}
		.event-thumb{display:inline-block;margin:0 0 15px 0;border:8px solid #898989;}
		.event-thumb:hover{}
	.event-main{float: right; width:100%; margin-left:-100px; padding:0 0 0 130px;}
		.event-item-title{margin:0 0 5px 0; font-size: 24px; line-height: 24px;}
		.event-item-subtitle{margin:0 0 12px 0; font-size: 18px; line-height: 18px;}
.event-item:last-of-type{border:none;}
.event-item.no-img{}
	.event-item.no-img .event-side{display: none;}
	.event-item.no-img .event-main{float: none; margin-left:0; padding:0;}