
/*!--- LAYOUT ---*/

.wrap{max-width:1200px; margin:0 auto; padding:0 30px;}
.entry-content h2{margin:0 0 20px 0;}
.entry-content h3{margin:0 0 12px 0;}
.entry-content p, .entry-content ul, .entry-content ol{margin:0 0 20px 0;}
.entry-content li{margin:0 0 7px 25px; list-style-type:disc;}
.entry-content ol li{list-style-type:decimal;}
.entry-content img{margin:0 15px 5px 0; max-width:100%; height:auto;}

#content-main{display: block;}

/* Page Layouts */
.content_sidebar .content-col{float:left;width:63%;}
.content_sidebar .sidebar{float:right;width:36%;}
.sidebar_content .content-col{float:right;width:63%;}
.sidebar_content .sidebar{float:left;width:36%;}

/* Columns */
.col-wrap{clear: both; margin:0 -1%;}
	.col3-4{float: left; width:73%; margin:0 1% 20px 1%;}
	.col2-3{float: left; width:64.6%; margin:0 1% 20px 1%;}
	.col1-2{float: left; width:48%; margin:0 1% 20px 1%;}
	.col1-3{float: left; width:31.3%; margin:0 1% 20px 1%;}
	.col1-4{float: left; width:23%; margin:0 1% 20px 1%;}
.gutter2{clear: both; margin:0 -2%;}
	.gutter2 .col1-2{width:46%; margin:0 2% 20px 2%;}
	.gutter2 .col1-3{width:29.3%; margin:0 2% 20px 2%;}
	.gutter2 .col1-4{width:21%; margin:0 2% 20px 2%;}
.gutter3{clear: both; margin:0 -3%;}
	.gutter3 .col1-2{width:44%; margin:0 3% 20px 3%;}
	.gutter3 .col1-3{width:27.3%; margin:0 3% 20px 3%;}
	.gutter3 .col1-4{width:19%; margin:0 3% 20px 3%;}
.gutter4{clear: both; margin:0 -4%;}
	.gutter4 .col1-2{width:42%; margin:0 4% 20px 4%;}
	.gutter4 .col1-3{width:25.3%; margin:0 4% 20px 4%;}
	.gutter4 .col1-4{width:17%; margin:0 4% 20px 4%;}

.half{display: block; float: left; width:50%;}
.third{display: block; float: left; width:33.3%;}
.fourth{display: block; float: left; width:25%;}

.floatr{float: right;}

/* Events Module */
.event-item{position:relative; margin:0; padding:20px 0 20px 10%; border-bottom:1px solid #ccc;}
	.event-side{display:block; float: left; position: relative; z-index:1; width:100px;}
		.event-thumb{display:inline-block;margin:0 0 15px 0;border:8px solid #898989;}
		.event-thumb:hover{}
	.event-main{float: right; width:100%; margin-left:-100px; padding:0 0 0 130px;}
		.event-item-title{margin:0 0 5px 0; font-size: 24px; line-height: 24px;}
		.event-item-subtitle{margin:0 0 12px 0; font-size: 18px; line-height: 18px;}
.event-item:last-of-type{border:none;}
.event-item.no-img{}
	.event-item.no-img .event-side{display: none;}
	.event-item.no-img .event-main{float: none; margin-left:0; padding:0;}


/*---  800-  ---*/
@media screen and (max-width : 800px) {
	/* Columns */
	.def-col-wrap{margin:0;}
		.def-col-wrap .col1-2{float: none; width:auto; margin:0 0 20px 0;}
}
