
/*!--- PAGES ---*/

/*------------------------------------------------------
	This file is for unique page styles that are not 
	too lengthy. If a lot of styles are needed, add 
	a new .scss file under pages with the page name.
------------------------------------------------------*/

/*-----------------------------------
	About 
-----------------------------------*/
.sct_about{}

/*---  960-  ---*/
@media screen and (max-width : 960px) {
	
}


/*-----------------------------------
	Sitemap 
-----------------------------------*/
.sitemap-nav{display: block; max-width:600px; margin:auto;}
	.sitemap-nav li{margin:0 0 5px 0;}
		.sitemap-nav li a{display: inline-block; padding:5px 15px; background:#eee;}
		.sitemap-nav li a:hover{background:#f7f7f7;}
		.sitemap-nav ul ul{padding:0 0 0 10px; margin:10px 0 10px 20px; border-left:1px solid #eee;}

