
/*!--- IE ---*/

/* IE 7 Border-Box Fix */
.lt-ie8 form input{width:80%;}
.lt-ie8 .inline input{width:55%;}

/* IE 8 Image Max-Width Fix */
.lt-ie9 .fluid-img{width:auto;}

/* IE 7 inline-block fix */
#nav-main li{*display:inline;zoom:1;}