
/*!--- IE ---*/

/* IE 9- Responsive SVG images */
.lt-ie10 img[src*=".svg"]{width:100%; height:100%;}

/* IE 9 Remove Chbx/Radio bg, pad */
.lt-ie10 .radio input, .lt-ie10 .chbx input{display:inline-block; width:auto; background:none; padding:0;}

/* IE 7 Border-Box Fix */
.lt-ie8 form input{width:80%;}
.lt-ie8 .inline input{width:55%;}

/* IE 8 Image Max-Width Fix */
.lt-ie9 .fluid-img{width:auto;}

/* IE 7 inline-block fix */
#nav-main li{*display:inline;zoom:1;}